$bg-color: #161616;
$font-color: #e7e7e7;
$unactive-color: #666;
$unactive-color-hover: darken($unactive-color, 10);
$action-color: #0f62fe;
$action-color--alt: #e49a22;
$action-color--alt-hover: darken($action-color--alt, 10);
$action-color-hover: darken($action-color, 7);
$font: "Roboto", sans-serif;